language: python
services:
  - docker

env:
  global:
    - IMAGE_NAME="mellomaths/openapi-to-pm"
    - CONTAINER_NAME="openapi-to-pm"

before_install:
  - docker build -t ${IMAGE_NAME} .
  - docker run -d --publish 80:8000 --name=${CONTAINER_NAME} -e ENV='ci' ${IMAGE_NAME}

install:
  - docker exec ${CONTAINER_NAME} /bin/bash -c "pip install pytest requests"

script:
  - docker exec ${CONTAINER_NAME} /bin/bash -c "pytest"

deploy:
  provider: script
  script: bash ./.docker/docker_push
  on:
    branch: master